<header>
  <nav>
    <ul class='menu'>
      <li class='menu-btn'>
        <a title='Quickly get to where you want.' href='#'>Menu</a>
      </li>
      <li class='current'>
        <a href='#intro'>Hello</a>
      </li>
      <li>
        <a href='#profile'>Meet Me</a>
      </li>
      <li>
        <a href='#work'>See My Work</a>
      </li>
      <li>
        <a href='#rates'>Price Your Project</a>
      </li>
      <li>
        <a href='#contact'>Contact Me</a>
      </li>
    </ul>
  </nav>
</header>
<section id='main' class='full-section'></section>
<section id='intro' class='full-section'>
  <div class='vert-one-quarter'></div>
  <div class='vert-row vert-one-quarter'>
    <div class='horiz-one-twelfth'></div>
    <div class='horiz-one-third'>
      <h2>Hello, my name is Joshua</h2>
    </div>
    <div class='horiz-one-twelfth'></div>
    <div class='horiz-one-half'></div>
  </div>
  <div class='vert-row vert-one-quarter'>
    <div class='horiz-one-half'></div>
    <div class='horiz-one-sixth'>
      <h3>Let's work together</h3>
    </div>
    <div class='horiz-one-third'></div>
  </div>
  <div class='vert-row vert-one-quarter'>
    <div class='horiz-one-third'></div>
    <div class='horiz-one-third titles'>
      <h4 class="hideTitle displayTitle">Innovate</h4>
      <h4 class="hideTitle">Create</h4>
      <h4 class="hideTitle">Connect</h4>
      <h4 class="hideTitle">Socialise</h4>
      <h4 class="hideTitle">Collaborate</h4>
      <h4 class="hideTitle">Build</h4>
      <h4 class="hideTitle">Organise</h4>
      <h4 class="hideTitle">Broadcast</h4>
    </div>
    <div class='horiz-one-third'></div>
  </div>
</section>
<section id='profile' class='full-section'>
  <div class='full-background' id='toronto-skyline'></div>
  <div class='vert-one-quarter'></div>
  <div class='vert-row vert-one-half'>
    <div class='horiz-one-quarter'></div>
    <div class='horiz-one-half content'>
      <p>
        I am a Toronto based developer experienced in Online Branding through Social Strategies, Websites and Application Development. Let's work together to build a great experience for your clients and target audience. If you have a project in mind for now or the future, let's start working on it Today. We can build your Online Profile so that it is primed to be easily found and conveys a clear message.
      </p>
      <p>
        Let's work together to discuss your project and make it a success!
      </p>
    </div>
    <div class='horiz-one-quarter'></div>
  </div>
  <div class='vert-one-quarter'></div>
</section>
<section id='work' class='full-section'>
  <iframe src='http://traffic.ottawa.ca/map/intersections' frameborder='0' height='0' width='0'></iframe>
  <div class='vert-row vert-one-eighth lrg'>
    <div class='horiz-full'></div>
  </div>
  <div class='vert-row vert-two-third vert-one-half'>
    <div class='horiz-one-eighth lrg'></div>
    <div class='horiz-column horiz-three-quarter horiz-full'>
      <div class='vert-row vert-one-half'>
        <div class='horiz-one-third horiz-one-half project' id='live-cam'>
          <div class='blue-shade'>
            <a class='logo-link' title='We Make The City' href='http://www.wemakethecity.ca/' target='_blank'><img alt='We Make The City Logo' src='{{ base_path ~ directory }}/images/we-make-the-city.gif'></a>
            <h5 id='cam-title'>Dalhousie &amp; Murray</h5>
          </div>
        </div>
        <div class='horiz-one-half lrg'>
          <div class='vert-one-half'></div>
        </div>
        <div class='horiz-column horiz-one-sixth horiz-one-half'>
          <div class='vert-one-half vert-full project' id='title-switcher-plugin'>
            <span class='title-switcher'>
              <p class="hideTitle displayTitle" style='color: #be1010; text-align: center;'>I built this <em>superb</em> <strong>plug-in</strong></p>
              <p class="hideTitle" style='color: #1414af; text-align: right;'><strong>TitleSwitcher</strong> is great to display <em>company objectives</em> </p>
              <p class="hideTitle" style='color: #af4e08; text-align: center; text-decoration: underline;'>Feel free to contribute and use this plug-in</p>
              <p class="hideTitle" style='color: #0c710c;'>You can find more projects on <a href='https://github.com/jheagle' target='_blank'>my <strong>GitHub</strong></a></p>
            </span>
          </div>
          <div class='vert-one-half lrg'></div>
        </div>
      </div>
      <div class='vert-row vert-one-half'>
        <div class='horiz-column horiz-one-sixth horiz-one-third'>
          <div class='vert-one-half lrg'></div>
          <div class='vert-one-half vert-full project' id='addressbook'>
            Addressbook (MVC)
          </div>
        </div>
        <div class='horiz-one-sixth lrg'></div>
        <div class='horiz-one-half horiz-two-third project overflow-top-fifty' id='eyeconx'>
          <a class='logo-link' title='Eyeconx' href='http://eyeconx.net/' target='_blank'><img alt='Eyeconx Logo' src='{{ base_path ~ directory }}/images/eyeconx.png'></a>
        </div>
        <div class='horiz-one-sixth lrg'></div>
      </div>
    </div>
    <div class='horiz-one-eighth lrg'></div>
  </div>
  <div class='vert-row vert-one-third vert-one-quarter'>
    <div class='horiz-one-eighth lrg'></div>
    <div class='horiz-column horiz-one-quarter horiz-one-eighth'>
      <div class='vert-one-half lrg'></div>
      <div class='vert-one-half vert-full project' id='json-search'>
        JSON Search
      </div>
    </div>
    <div class='horiz-three-eighth horiz-one-quarter project' id='eyestartv'>
      <a class='logo-link' title='EyestartTV Form' href='http://www.eyestartv1.com/' target='_blank'><img alt='EyestarTV Logo' src='{{ base_path ~ directory }}/images/eyestartv.png'></a>
    </div>
    <div class='horiz-one-eighth lrg'></div>
    <div class='horiz-three-eighth horiz-one-quarter project' id='bright-optical'>
      <a class='logo-link' title='Bright Optical' href='http://www.brightoptical.ca/' target='_blank'><img alt='Bright Optical Logo' src='{{ base_path ~ directory }}/images/bright-optical.png'></a>
    </div>
    <div class='horiz-one-eighth lrg'></div>
  </div>
  <div class='vert-row vert-one-eighth lrg'>
    <div class='horiz-full'></div>
  </div>
</section>
<section id='rates' class='full-section'></section>
<section id='contact' class='full-section'></section>
{{ attach_library('joshuawebstrategy/home-includes') }}
